<form #addTodoForm="ngForm" (ngSubmit)="onAddTodo(addTodoForm)" class="add-todo-view">
        <div class="form-group">
        <label for="todo-input" class="add-todo-label">Create Todo</label>
        <input 
        placeholder="Enter todo here"
        type="text" 
        id="todo" 
        class="form-control"
        name="todo"
        ngModel
        todo
        required
        >
        </div>
        <p *ngIf="error" class="text-danger">Please enter valid text</p>
    <button type="submit" class="btn btn-primary add-button" [disabled]="!addTodoForm.valid" >Add Todo</button>
</form>